h1{
    /* Colores por su nombre en ingles */
    color: blue;
}

li{
    /* Hexadecimal */
    color: #f400dd;
}

h4{
    /* RGB */
    /* color: rgb(240, 100, 87); */
    
    /* RGBA */
    /* El cuarto parametro se mueve entre 0 y 1 */
    color: rgb(240, 100, 87, 0.2);
}